<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} %-5p [%t][%c] %m%n " />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
		<!--<Logger name="de.jakob_kroemer" level="warn" />
		<Logger name="org.springframework.integration" level="warn" />
		<Logger name="org.springframework.integration.samples" level="debug" />-->
	</Loggers>
</Configuration>
